@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-brown: rgb(196, 156, 97);
}

html.sr .load-hidden {
  visibility: hidden;
}

.title {
  filter: drop-shadow(0 0 0.25rem white) drop-shadow(0 0 0.125rem white)
    drop-shadow(0 0 0.5rem white);
}

.yarl__root {
  --yarl__color_backdrop: rgba(0, 0, 0, 0.82);
}


