@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-brown: rgb(196, 156, 97);
  --animate-delay: 0.1s !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html.sr .load-hidden {
  visibility: hidden;
}

.title {
  filter: drop-shadow(0 0 0.25rem white) drop-shadow(0 0 0.125rem white)
    drop-shadow(0 0 0.5rem white);
}

.player {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.yarl__root {
  --yarl__color_backdrop: rgba(0, 0, 0, 0.82);
}
